[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
furl = "*"
requests-html = "*"
pyqt5 = "==5.10.1"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.6"
